@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	font:"Times New Roman", Times, serif;
	font-size:12px;
	width:100%;
	
}

.container{
	 margin:0 auto;
	 width:1000px;
	 
}

.header{
	width:100%;
	color:#FFF;
	font:"Times New Roman", Times, serif;
	font-size:40px;
	padding-top:15px;
	padding-bottom:15px;
	background:#314d68;
}


.anchor{
    float:right;
}


.anchor a{
     font-family:"Times New Roman", Times, serif;
     color:#FFF;
     font-size:30px;
     text-decoration:none;
     border-bottom:2px solid #F00;
     text-transform:capitalize;
     padding-left:2px;
     padding-right:2px;
} 





.box1{
	width:364px;
	height:655px;
	background:#314d68;
	margin:0 auto;
	margin-top:98px;
	font:"Times New Roman", Times, serif;
	color:#FFF;
	font-size:36px;
	text-transform:uppercase;
}

span{
	padding-left:18px;
}
.header1{
	border-bottom:4px solid #000;
	float:left;
	width:365px;
	float:left;
	
}

.title1{
	color:#fff;
	clear:both;
	font:"Times New Roman", Times, serif;
	font-size:24px;
	text-transform:none;
	padding-top:20px;
	padding-left:10px;
	margin-bottom:41px;
     
}


.form2{
	width:300px;
}


  input[type=text] {
	width:314px;
	height:42px;
	margin-left:25px;
	float:left;
	direction:block;
	margin-bottom:28px;
	font-size:30px;
	border:1px solid #000;
	background:#3f3f3f;
	color:#FFF;
}


.title{
	margin-top:22px;
	
}


.textarea{
	background:#3f3f3f;
	height:91px;
	width:312px;
	margin-left:25px;
	resize:none;
	border:1px solid #000;
	font:"Times New Roman", Times, serif;
	font-size:20px;
	color:white;
}

.textarea1{
	background:#3f3f3f;
	height:91px;
	width:312px;
	margin-left:25px;
	resize:none;
	border:1px solid #000;
	font:"Times New Roman", Times, serif;
	font-size:20px;
	color:white;
	margin-top:26px;
}


::-webkit-input-placeholder {
	
   font-size:15px;
  font:"Times New Roman", Times, serif;
 text-transform: uppercase;
 padding-top:10px;
 color:#FFF;
}

select {
	background:#3f3f3f;
	color:#FFF;
	width:314px;
	height:42px;
	text-transform:uppercase;
	margin-left:25px;
	border:1px solid #000;
}

option  {
background:#000;
color:#fff;
font-size:15px;
  font:"Times New Roman", Times, serif; 
	
} 

input[type=file] {
	width:314px;
	height:42px;
	margin-left:25px;
	float:left;
	direction:block;
	margin-bottom:28px;
	font-size:30px;
	border:1px solid #000;
	background:#3f3f3f;
	color:#FFF;
	margin-top:22px;
}



input[type=button] {
	width:314px;
	height:42px;
	margin-left:25px;
	float:left;
	direction:block;
	margin-bottom:28px;
	font-size:30px;
	background:#d2d91c;
	color:#000;
	margin-top:5px;
	margin-bottom:63px;
}

.submit{
    width:314px;
    height:42px;
    margin-left:25px;
    float:left;
    direction:block;
    margin-bottom:28px;
    font-size:30px;
    background:#d2d91c;
    color:#000;
    margin-top:5px;
    margin-bottom:63px;
    
}

.backToTop{
	position:fixed;
	bottom:10px;
	cursor:pointer;
}



.footer{
    width:100%;
    background:#314d68;
    padding-top:7px;
    padding-bottom:7px;
    color:#FFF;
    font-size:20px;
    font-family:"Times New Roman", Times, serif;
    margin-top:40px;
    float:left;
    
}
